<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>REGXX - Error page</title>

        <h:outputStylesheet library="css" name="bootstrap.css" /> 
        <h:outputStylesheet library="css" name="bootstrap-responsive.css" />

        <h:outputStylesheet library="themeFlat" name="css/style.css" /> 
        <h:outputStylesheet library="themeFlat" name="css/themes.css" />
        

    </h:head>
    <h:body class='error'>
        <div class="wrapper">
            <div class="code"><span>404</span><i class="icon-warning-sign"></i></div>
            <div class="desc">Oops! Sorry, that page could'nt be found.</div>
            <form  class='form-horizontal'>
                <div class="input-append">
                    <input type="text" name="search" placeholder="Search a site.."/>
                    <button type='submit' class='btn'><i class="icon-search"></i></button>
                </div>
            </form>
            <div class="buttons">
                <div class="pull-left"><a href="pages/secure/dashboard/dashboard.xhtml" class="btn"><i class="icon-arrow-left"></i> Back</a></div>
            </div>
        </div>
        <h:outputScript library="js" name="bootstrap.min.js"></h:outputScript> 
                  <!--<h:outputScript library="js" name="jquery-1.11.0.min.js" target="head"></h:outputScript>-->
 
    </h:body>
</html>
