<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>RegWebXX login</title>

	<h:outputStylesheet library="css" name="bootstrap.css" />
	<h:outputStylesheet library="css" name="bootstrap-responsive.css" />

	<h:outputStylesheet library="themeFlat" name="css/style.css" />
	<h:outputStylesheet library="themeFlat" name="css/themes.css" />
	<h:outputStylesheet library="themeFlat" name="css/themes_override.css" />
</h:head>


<h:body class='login'>
	<f:facet name="last">
		<h:outputStylesheet library="themeFlat"
			name="css/primefaces_override.css" />
	</f:facet>
	<p:growl id="growl" sticky="true" showDetail="true" globalOnly="true"
		life="2000" />

	<div class="wrapper">
		<h1>
			<a href="index.html"><img
				src="#{request.contextPath}/resources/themeFlat/img/logo-big.png"
				alt="" class='retina-ready' width="59" height="49" />ReGAl 2.0</a>
		</h1>
		<div class="login-body">
			<h2>SIGN IN</h2>
			<h:form class='form-validate' id="loginForm">
				<div class="control-group">
					<div>
						<p:inputText id="username" value="#{loginBean.userName}"
							required="true" styleClass="input-block-level"
							requiredMessage="Inserisci utente" />
						<p:watermark for="username" value="Username" />
						<!--<input type="text" name='uemail' placeholder="Email address" class='input-block-level' data-rule-required="true" data-rule-email="true"/>-->
					</div>
					<h:message id="msgUsername" for="username"
						errorClass="help-block alert alert-error" />
				</div>
				<div class="control-group">
					<p:password id="password" value="#{loginBean.password}"
						required="true" styleClass="input-block-level"
						requiredMessage="Inserisci password" />
					<p:watermark for="password" value="Password" />
					<!--                            <div class="pw controls">
                                                            <input type="password" name="upw" placeholder="Password" class='input-block-level' data-rule-required="true"/>
                                                        </div>-->
					<h:message id="msgPassword" for="password"
						errorClass="help-block alert alert-error" />
				</div>
				<div class="submit">
					<!--                            <div class="remember">
                                                            <input type="checkbox" name="remember" class='icheck-me' data-skin="square" data-color="blue" id="remember"/> <label for="remember">Remember me</label>
                                                        </div>-->
					<!--                            <input type="submit" value="Sign me in" class='btn btn-primary'/>-->

					<p:commandButton styleClass="btn btn-primary" id="loginButton"
						value="Sign me in" update="loginForm :growl"
						action="#{loginBean.login}">
					</p:commandButton>
				</div> 
			</h:form>
			<div class="forget">
				<a href="#"><span>Forgot password?</span></a>
			</div>
		</div>
	</div>

	<h:outputScript library="js" name="bootstrap.min.js"></h:outputScript>
	<h:outputScript library="js" name="pfcrud.js" target="head"></h:outputScript>

</h:body>
</html>

