<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <ul>
        <li>
            <a href="more-login.html">Home</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <h:link 
                value="Dashboard" 
                            outcome="/pages/secure/dashboard/dashboard?faces-redirect=true">
            </h:link>
            <i class="icon-angle-right"></i>
        </li>
        <li>
      
            <a href="#">#{navigationCardManager.nameCard}</a>
        </li>      
    </ul>
    <div class="close-bread">
        <a href="#"><i class="icon-remove"></i></a>
    </div>

</ui:composition>
