<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
	<h:form>
		<ui:include src="/pages/secure/shared/header.xhtml" />
		<a href="#" class="toggle-nav" rel="tooltip" data-placement="bottom"
			title="Toggle navigation"><i class="icon-reorder"></i></a>
		<h:panelGroup rendered="#{securityBean.isUser eq true}">
			<ul class='main-nav'>
				<li class='active'><a href="#" data-toggle="dropdown"
					class='dropdown-toggle'> <span>Paziente</span> <span
						class="caret"></span>
				</a>
					<ul class="dropdown-menu">
						<!--                         <li> -->
						<!--                             <p:commandLink value="Anagrafica"  -->
						<!--                                            action="{anagraficaPazienteController.prepareCreate}"> -->
						<!--                                 <f:param name="idIstituto" value="{loginBean.idIstituto}"/> -->
						<!--                             </p:commandLink> -->

						<!--                         </li> -->
						<li><h:commandLink
								action="#{indirizzoresidenzaBean.create()}" value="Residenza">
								<f:param name="pazienteId"
									value="#{anagraficaPazienteBean.anagraficapaziente.pazienteId}" />
							</h:commandLink></li>
						<li><h:commandLink action="#{demograficaBean.create()}"
								value="Demografica">
								<f:param name="pazienteId"
									value="#{anagraficaPazienteBean.anagraficapaziente.pazienteId}" />
							</h:commandLink></li>
					</ul></li>
				<li><a href="#" data-toggle="dropdown" class='dropdown-toggle'>
						<span>Anamnesi</span> <span class="caret"></span>
				</a>
					<ul class="dropdown-menu">
						<li><a href="#">Fisiologica</a></li>
						<li><a href="#">Patologica</a></li>
						<li><a href="#">Familiarita'</a></li>
						<li><a href="#">Farmacologica</a></li>

					</ul></li>
				<li><a href="#" data-toggle="dropdown" class='dropdown-toggle'>
						<span>TEST</span> <span class="caret"></span>
				</a>
					<ul class="dropdown-menu">
						<li><h:commandLink action="#{mmseBean.create()}"
								value="Mini Mental State Examination">
								<f:param name="pazienteId"
									value="#{anagraficaPazienteBean.anagraficapaziente.pazienteId}" />
							</h:commandLink></li>
						<li><h:commandLink action="#{cirsBean.create()}"
								value="C.I.R.S.">
								<f:param name="pazienteId"
									value="#{anagraficaPazienteBean.anagraficapaziente.pazienteId}" />
							</h:commandLink></li>
						<li><a href="#">ADL</a></li>
						<li><a href="#">IADL</a></li>
						<li><a href="#">GDS</a></li>
						<li><a href="#">ACER-R</a></li>
						<li><a href="#">MOCA</a></li>
						<li><a href="#">MODA</a></li>
						<li><a href="#">NPI</a></li>
						<!-- 						<li><a href="#">?? ALTRO TEST ??</a></li> -->
						<!-- 						<li><a href="#">?? TEST FISICI ??</a></li> -->
						<!-- 						<li><a href="#">?? BATTERIA TESTISTICA ??</a></li> -->
					</ul></li>
				<li><a href="#" data-toggle="dropdown" class='dropdown-toggle'>
						<span>Esami</span> <span class="caret"></span>
				</a>
					<ul class="dropdown-menu">
						<li><a href="#">Cognitivo</a></li>
						<li><a href="#">Laboratorio</a></li>
						<li><a href="#">Strumentali</a></li>
					</ul></li>
				<li><a href="#" data-toggle="dropdown" class='dropdown-toggle'>
						<span>Caregiver</span> <span class="caret"></span>
				</a>
					<ul class="dropdown-menu">
						<li><a href="#">Anagrafica</a></li>
						<li><a href="#">Test stress caregiver</a></li>
					</ul></li>
				<li><a href="#"> <span>Diagnosi</span>
				</a></li>

			</ul>
		</h:panelGroup>
		<ui:include src="/pages/secure/shared/userInfo.xhtml" />
	</h:form>
</ui:composition>
