<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:o="http://omnifaces.org/ui" xmlns:p="http://primefaces.org/ui">

	<!--    <div class="box box-color box-bordered blue">
                    <div class="span4">-->

	<f:event type="preRenderView"
		listener="#{eventopazienteBean.gruppoSchedeCompilate(anagraficaPazienteBean.anagraficapaziente.pazienteId)}" />
	<div class="subnav">

		<h:form id="EventoPazienteListForm" prependId="false">
			<p:dataTable id="list" style="font-size:inherit;font-family: inherit"
				paginatorAlwaysVisible="false" rows="15" paginator="true"
				paginatorPosition="bottom"
				value="#{eventopazienteBean.sortedSubTable}" var="categoriaScheda">
				<ul class="nav nav-list">
					<li class="nav-header"><f:facet name="header">
                            Schede compilate
                        </f:facet></li>
				</ul>
				<p:subTable var="scheda" value="#{categoriaScheda.eventoPazientes}">
					<f:facet name="header">
						<h:outputText value="#{categoriaScheda.nomeScheda}" />
					</f:facet>
					<p:column>
						<h:link
							outcome="#{navigationManager.getHRef(categoriaScheda.nomeScheda)}">
							<f:param name="cid"
								value="#{anagraficaPazienteBean.conversation.id}" />
							<f:param name="id" value="#{scheda.schedaId}" />

							<h:outputText value="(#{scheda.schedaId})   ">
								<p:spacer width="10" height="10" />
							</h:outputText>
							<h:outputText value="#{scheda.dataCompilazione}" style="color: #002a80">
								<f:convertDateTime pattern="dd MMMM yyyy" />
								<p:spacer width="10" height="10" />
							</h:outputText>
						</h:link>
					</p:column>
				</p:subTable>
			</p:dataTable>
		</h:form>
	</div>
</ui:composition>
