<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h:form id="frmPageHeader">
		<div class="pull-right">
			<ul class="minitilesDetailsAna">
				<li class='blue'><h:commandLink>
						<i class="icon-user"></i>
						<div class="details">
							<h:outputFormat id="nomePaziente" class="big"
								value="{0} {1} ({2})">
								<f:param
									value="#{anagraficaPazienteBean.anagraficapaziente.nome.trim()}" />
								<f:param
									value="#{anagraficaPazienteBean.anagraficapaziente.cognome}" />
								<f:param name="currentID"
									value="#{anagraficaPazienteBean.anagraficapaziente.pazienteId}" />
							</h:outputFormat>

							<h:outputFormat id="datiNascita"
								value="N. {0,date,dd.MM.yyyy} in {1} {2}">
								<f:param
									value="#{anagraficaPazienteBean.anagraficapaziente.dataNascita}" />
								<f:param
									value="#{anagraficaPazienteBean.anagraficapaziente.comune.denominazione}" />
								<f:param
									value="#{anagraficaPazienteBean.anagraficapaziente.comune.provinciaregione.siglaAutomobilistica}" />
							</h:outputFormat>
						</div>
					</h:commandLink></li>
			</ul>
			<ul class="minitiles">
				<li class="green"><h:link
						outcome="/pages/secure/dashboard/listPatient">
						<i class="icon-dashboard"></i>
<!-- 							<f:param name="cid" -->
<!-- 							value="{anagraficaPazienteBean.conversation.id}" /> -->
					</h:link></li>
			</ul>



			<ul class="stats">
<!-- 				<li class='orange'><i class="icon-calendar"></i> -->
<!-- 					<div class="details"> -->
<!-- 						<span class="big"> <h:outputText value="#{receiptBean.date}"> -->
<!-- 								<f:convertDateTime pattern="MMMM d, yyyy" /> -->
<!-- 							</h:outputText> -->
<!-- 						</span> <span> <h:outputText value="#{receiptBean.date}"> -->
<!-- 								<f:convertDateTime pattern="EEEE, HH:hh" /> -->
<!-- 							</h:outputText> -->
<!-- 						</span> -->
<!-- 					</div></li> -->

				<li class='darkblue'><i class="icon-flag"></i>
					<div class="details">

						<span class="big"> <h:outputText
								value="#{istitutoBean.current.denominazione}">
							</h:outputText>
						</span> <span> <h:outputText value="#{istitutoBean.current.sede}">
								<f:convertDateTime pattern="EEEE, HH:hh" />
							</h:outputText>
						</span>
					</div></li>

			</ul>

		</div>
	</h:form>

</ui:composition>
