<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:o="http://omnifaces.org/ui" xmlns:p="http://primefaces.org/ui"
	template="/templates/patientDashboardTemplate.xhtml">


	<ui:define name="metadata">
		<f:metadata>
			<f:viewParam name="id" value='#{mmseBean.id}' />
			<f:event type="preRenderView" listener='#{mmseBean.retrieve()}' />
		</f:metadata>
	</ui:define>



	<ui:define name="dash">
		<div class="box-title">
			<h3>
				<i class="icon-list"></i>
				<c:choose>
					<c:when test='#{!empty mmseBean.id}'>
				Modifica scheda mini mental state evaluation 
			</c:when>
					<c:otherwise>	
				Crea scheda mini mental state evaluation 
			</c:otherwise>
				</c:choose>

			</h3>
		</div>
		<div class="box-content nopadding">
			<h:form id="mmseForm" prependId="false"
				class='form-horizontal form-column form-bordered'>


				<div class="span12">
					<div class="control-group ">
						<h:outputLabel class="control-label"
							value="Data compilazione:*"
							for="data">
						</h:outputLabel>
						<div class="controls ">
							<p:calendar id="data" styleClass="input-small"
								disabled="#{securityBean.isUserAdmin eq false}"
								autocomplete="off" value="#{mmseBean.current.dataCompilazione}"
								pattern="dd/MM/yyyy" title="Data di compilazione" />
							<p:message id="msgdata"
								for="data" />
						</div>

					</div>
				</div>

				<div class="span4">
					<div class="control-group threeColumnTest">
						<h:outputLabel class="control-label"
							value="In che anno siamo ? (0-1):" for="inCheAnnoSiamo">
							<h:message id="msgInCheAnnoSiamo" for="inCheAnnoSiamo"
								errorClass="help-block alert alert-error" />
						</h:outputLabel>
						<div class="controls threeColumnTest">
							<p:spinner id="inCheAnnoSiamo" min="0" max="1"
								value="#{mmseBean.current.inCheAnnoSiamo}">
								<p:ajax update="score,scoreAdjustment" process="@this" />
							</p:spinner>
						</div>
					</div>

					<div class="control-group threeColumnTest">
						<h:outputLabel class="control-label"
							value="Mi dice la data di oggi ? (0-1):&#160;&#160;&#160;&#160;&#160;&#160;
							&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
							&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;"
							for="dataOdierna">
							<h:message id="msgDataOdierna" for="dataOdierna"
								errorClass="help-block alert alert-error" />
						</h:outputLabel>
						<div class="controls threeColumnTest">
							<p:spinner id="dataOdierna" min="0" max="1"
								value="#{mmseBean.current.dataOdierna}">
								<p:ajax update="score,scoreAdjustment" process="@this" />
							</p:spinner>

						</div>
					</div>

					<div class="control-group threeColumnTest">
						<h:outputLabel class="control-label"
							value="In quale regione italiana siamo ? (0-1):&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;"
							for="inQualeRegioneSiamo">
							<h:message id="msgInQualeRegioneSiamo" for="inQualeRegioneSiamo"
								errorClass="help-block alert alert-error" />
						</h:outputLabel>
						<div class="controls threeColumnTest">
							<p:spinner id="inQualeRegioneSiamo" min="0" max="1"
								value="#{mmseBean.current.inQualeRegioneSiamo}">
								<p:ajax update="score,scoreAdjustment" process="@this" />
							</p:spinner>

						</div>
					</div>

					<div class="control-group threeColumnTest">
						<h:outputLabel class="control-label"
							value="A che piano siamo ? (0-1):&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
							&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
							&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;"
							for="achePianoSiamo">
							<h:message id="msgAchePianoSiamo" for="achePianoSiamo"
								errorClass="help-block alert alert-error" />
						</h:outputLabel>
						<div class="controls threeColumnTest">
							<p:spinner id="achePianoSiamo" min="0" max="1"
								value="#{mmseBean.current.achePianoSiamo}">
								<p:ajax update="score,scoreAdjustment" process="@this" />
							</p:spinner>

						</div>
					</div>

					<div class="control-group threeColumnTest">
						<h:outputLabel class="control-label"
							value="Ripeta il nome dei tre oggetti precedenti (0-3):"
							for="ripetereNomeOggettiPrecti">
							<h:message id="msgRipetereNomeOggettiPrecti"
								for="ripetereNomeOggettiPrecti"
								errorClass="help-block alert alert-error" />
						</h:outputLabel>
						<div class="controls threeColumnTest">
							<p:spinner id="ripetereNomeOggettiPrecti" min="0" max="3"
								value="#{mmseBean.current.ripetereNomeOggettiPrecti}">
								<p:ajax update="score,scoreAdjustment" process="@this" />
							</p:spinner>

						</div>
					</div>

					<div class="control-group threeColumnTest">
						<h:outputLabel class="control-label"
							value="Prenda questo foglio con la mano destra,lo pieghi e lo metta per terra (0-3):"
							for="piegareFoglio">
							<h:message id="msgPiegareFoglio" for="piegareFoglio"
								errorClass="help-block alert alert-error" />
						</h:outputLabel>
						<div class="controls threeColumnTest">
							<p:spinner id="piegareFoglio" min="0" max="3"
								value="#{mmseBean.current.piegareFoglio}">
								<p:ajax update="score,scoreAdjustment" process="@this" />
							</p:spinner>

						</div>
					</div>

					<div class="control-group threeColumnTest">
						<h:outputLabel class="control-label"
							value="Copi questo disegno (pentagoni intrecciati)(0-1):"
							for="copiareDisegno">
							<h:message id="msgCopiareDisegno" for="copiareDisegno"
								errorClass="help-block alert alert-error" />
						</h:outputLabel>
						<div class="controls threeColumnTest">
							<p:spinner id="copiareDisegno" min="0" max="1"
								value="#{mmseBean.current.copiareDisegno}">
								<p:ajax update="score,scoreAdjustment" process="@this" />
							</p:spinner>

						</div>
					</div>
				</div>

				<div class="span4">
					<div class="control-group threeColumnTest">
						<h:outputLabel class="control-label"
							value="In che stagione siamo ? (0-1):" for="inCheStagioneSiamo">
							<h:message id="msgInCheStagioneSiamo" for="inCheStagioneSiamo"
								errorClass="help-block alert alert-error" />
						</h:outputLabel>
						<div class="controls threeColumnTest">
							<p:spinner id="inCheStagioneSiamo" min="0" max="1"
								value="#{mmseBean.current.inCheStagioneSiamo}">
								<p:ajax update="score,scoreAdjustment" process="@this" />
							</p:spinner>

						</div>
					</div>

					<div class="control-group threeColumnTest">
						<h:outputLabel class="control-label"
							value="Che giorno della settimana e oggi ? (0-1):"
							for="giornoSettimanaOggi">
							<h:message id="msgGiornoSettimanaOggi" for="giornoSettimanaOggi"
								errorClass="help-block alert alert-error" />
						</h:outputLabel>
						<div class="controls threeColumnTest">
							<p:spinner id="giornoSettimanaOggi" min="0" max="1"
								value="#{mmseBean.current.giornoSettimanaOggi}">
								<p:ajax update="score,scoreAdjustment" process="@this" />
							</p:spinner>

						</div>
					</div>

					<div class="control-group threeColumnTest">
						<h:outputLabel class="control-label"
							value="In quale città ci troviamo ? (0-1):&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
							&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;"
							for="inQualeCittaCiTroviamo">
							<h:message id="msgInQualeCittaCiTroviamo"
								for="inQualeCittaCiTroviamo"
								errorClass="help-block alert alert-error" />
						</h:outputLabel>
						<div class="controls threeColumnTest">
							<p:spinner id="inQualeCittaCiTroviamo" min="0" max="1"
								value="#{mmseBean.current.inQualeCittaCiTroviamo}">
								<p:ajax update="score,scoreAdjustment" process="@this" />
							</p:spinner>

						</div>
					</div>

					<div class="control-group threeColumnTest">
						<h:outputLabel class="control-label"
							value="Ripeta: casa,pane,gatto(max 6 volte): (0-3)"
							for="ripetereCasaPaneGatto">
							<h:message id="msgRipetereCasaPaneGatto"
								for="ripetereCasaPaneGatto"
								errorClass="help-block alert alert-error" />
						</h:outputLabel>
						<div class="controls threeColumnTest">
							<p:spinner id="ripetereCasaPaneGatto" min="0" max="3"
								value="#{mmseBean.current.ripetereCasaPaneGatto}">
								<p:ajax update="score,scoreAdjustment" process="@this" />
							</p:spinner>

						</div>
					</div>

					<div class="control-group threeColumnTest">
						<h:outputLabel class="control-label"
							value="Mostrare un orologio ed una matita chiedento di dirne il nome (0-2):"
							for="mostrareOrologiaMatita">
							<h:message id="msgMostrareOrologiaMatita"
								for="mostrareOrologiaMatita"
								errorClass="help-block alert alert-error" />
						</h:outputLabel>
						<div class="controls threeColumnTest">
							<p:spinner id="mostrareOrologiaMatita" min="0" max="2"
								value="#{mmseBean.current.mostrareOrologiaMatita}">
								<p:ajax update="score,scoreAdjustment" process="@this" />
							</p:spinner>

						</div>
					</div>

					<div class="control-group threeColumnTest">
						<h:outputLabel class="control-label"
							value="Legga ed esegua quanto scritto su questo foglio (chiuda gli occhi) (0-1):&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;"
							for="leggereEdEseguire">
							<h:message id="msgLeggereEdEseguire" for="leggereEdEseguire"
								errorClass="help-block alert alert-error" />
						</h:outputLabel>
						<div class="controls threeColumnTest">
							<p:spinner id="leggereEdEseguire" min="0" max="1"
								value="#{mmseBean.current.leggereEdEseguire}">
								<p:ajax update="score,scoreAdjustment" process="@this" />
							</p:spinner>

						</div>
					</div>

					<div class="control-group twoColumn">
						<h:outputLabel class="control-label"
							value="Data compilazione *:&#160;&#160;&#160;&#160;"
							for="dataCompilazioneMMSE">
						</h:outputLabel>
						<div class="controls mmseDataCompilazione">
							<p:calendar id="dataCompilazioneMMSE" styleClass="input-small"
								disabled="#{securityBean.isUserAdmin eq false}"
								autocomplete="off" value="#{mmseBean.current.dataCompilazione}"
								pattern="dd/MM/yyyy" title="Data di compilazione" />
							<p:message id="msgdataCompilazioneMMSE"
								for="dataCompilazioneMMSE" />
						</div>
					</div>

				</div>
				<div class="span4">

					<div class="control-group threeColumnTest">
						<h:outputLabel class="control-label"
							value="In che mese siamo ? (0-1):" for="inCheMeseSiamo">
							<h:message id="msgInCheMeseSiamo" for="inCheMeseSiamo"
								errorClass="help-block alert alert-error" />

						</h:outputLabel>
						<div class="controls threeColumnTest">
							<p:spinner id="inCheMeseSiamo" min="0" max="1"
								value="#{mmseBean.current.inCheMeseSiamo}">
								<p:ajax update="score,scoreAdjustment" process="@this" />
							</p:spinner>

						</div>
					</div>

					<div class="control-group threeColumnTest">
						<h:outputLabel class="control-label"
							value="Mi dice in che nazione siamo ? (0-1):&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;"
							for="inCheNazioneSiamo">
							<h:message id="msgInCheNazioneSiamo" for="inCheNazioneSiamo"
								errorClass="help-block alert alert-error" />
						</h:outputLabel>
						<div class="controls threeColumnTest">
							<p:spinner id="inCheNazioneSiamo" min="0" max="1"
								value="#{mmseBean.current.inCheNazioneSiamo}">
								<p:ajax update="score,scoreAdjustment" process="@this" />
							</p:spinner>

						</div>
					</div>

					<div class="control-group threeColumnTest">
						<h:outputLabel class="control-label"
							value="Mi dice il nome del luogo dove ci troviamo ? (0-1):"
							for="nomeDelLuogo">
							<h:message id="msgNomeDelLuogo" for="nomeDelLuogo"
								errorClass="help-block alert alert-error" />
						</h:outputLabel>
						<div class="controls threeColumnTest">
							<p:spinner id="nomeDelLuogo" min="0" max="1"
								value="#{mmseBean.current.nomeDelLuogo}">
								<p:ajax update="score,scoreAdjustment" process="@this" />
							</p:spinner>

						</div>
					</div>

					<div class="control-group threeColumnTest">
						<h:outputLabel class="control-label"
							value="Conti a ritroso o sillabare all'indietro MONDO (0-5):"
							for="contareRitroso">
							<h:message id="msgcontareRitroso" for="contareRitroso"
								errorClass="help-block alert alert-error" />
						</h:outputLabel>
						<div class="controls threeColumnTest">
							<p:spinner id="contareRitroso" min="0" max="5"
								value="#{mmseBean.current.contareRitroso}">
								<p:ajax update="score,scoreAdjustment" process="@this" />
							</p:spinner>

						</div>
					</div>
					<div class="control-group threeColumnTest">
						<h:outputLabel class="control-label"
							value="Ripetere: TIGRE CONTRO TIGRE (0-1):&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;"
							for="ripetereTigreControTigre">
							<h:message id="msgRipetereTigreControTigre"
								for="ripetereTigreControTigre"
								errorClass="help-block alert alert-error" />
						</h:outputLabel>
						<div class="controls threeColumnTest">
							<p:spinner id="ripetereTigreControTigre" min="0" max="1"
								value="#{mmseBean.current.ripetereTigreControTigre}">
								<p:ajax update="score,scoreAdjustment" process="@this" />
							</p:spinner>

						</div>
					</div>
					<div class="control-group threeColumnTest">
						<h:outputLabel class="control-label"
							value="Scriva una frase (deve contenere soggetto e verbo) (0-1):&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
							&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
							&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
							&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;"
							for="scrivereFrase">
							<h:message id="msgScrivereFrase" for="scrivereFrase"
								errorClass="help-block alert alert-error" />
						</h:outputLabel>
						<div class="controls threeColumnTest">
							<p:spinner id="scrivereFrase" min="0" max="1"
								value="#{mmseBean.current.scrivereFrase}">
								<p:ajax update="score,scoreAdjustment" process="@this" />
							</p:spinner>

						</div>
					</div>

					<div class="control-group threeColumnTest">
						<h:outputLabel class="control-label"
							value="M.M.S.E. score:&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
						&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
						&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
						&#160;&#160;&#160;&#160;
						M.M.S.E. score adjustment
						&#160;&#160;&#160;&#160;
						&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;"
							for="score" />
						<div class="controls threeColumnTest">
							<h:outputText id="score" value="#{mmseBean.somma()}"></h:outputText>
							<br></br>
							<h:outputText id="scoreAdjustment"
								value="#{mmseBean.current.scoreAdjustment}"></h:outputText>
						</div>
					</div>

				</div>

				<div class="span12">
					<div class="form-actions">
						<h:commandLink value="Salva"
							rendered="#{securityBean.isUser eq true}"
							action='#{mmseBean.update()}' styleClass="btn btn-primary">
						</h:commandLink>
						<h:link value="Annulla"
							outcome="/pages/secure/paziente/patientDashboard"
							styleClass="btn">
							<f:param name="cid" value="#{mmseBean.conversation.id}" />
						</h:link>

					</div>
				</div>



			</h:form>
		</div>
	</ui:define>
</ui:composition>