<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:o="http://omnifaces.org/ui" xmlns:p="http://primefaces.org/ui"
	template="/templates/patientDashboardTemplate.xhtml">


	<ui:define name="metadata">
		<f:metadata>
			<f:viewParam name="id" value='#{mmseBean.id}' />
			<f:event type="preRenderView" listener='#{mmseBean.retrieve()}' />
		</f:metadata>
	</ui:define>



	<ui:define name="dash">
		<div class="box-title">
			<h3>
				<i class="icon-list"></i>
				<c:choose>
					<c:when test='#{!empty mmseBean.id}'>
				Modifica scheda mini mental state examination
			</c:when>
					<c:otherwise>	
				Crea scheda mini mental state examination 
			</c:otherwise>
				</c:choose>

			</h3>
			<div align="right" style="margin-right: 10px;">
				<span class="badge badge-important">M.M.S.E. score: <h:outputText
						id="score" value="#{mmseBean.somma()}"></h:outputText></span> <span
					class="badge badge-important">M.M.S.E. score adjustment: <h:outputText
						id="scoreAdjustment" value="#{mmseBean.current.scoreAdjustment}"></h:outputText></span>
			</div>
		</div>
		<div class="box-content nopadding">
			<h:form id="mmseForm" prependId="false"
				class='form-vertical form-column form-bordered'>
				<div class="row-fluid">
					<div class="span3">
						<div class="control-group">
							<h:outputLabel class="control-label"
								value="In che anno siamo ? (0-1):" for="inCheAnnoSiamo">
								<h:message id="msgInCheAnnoSiamo" for="inCheAnnoSiamo"
									errorClass="help-block alert alert-error" />
							</h:outputLabel>
							<div class="controls controls-row">
								<p:spinner id="inCheAnnoSiamo" min="0" max="1"
									styleClass="input-block-level"
									value="#{mmseBean.current.inCheAnnoSiamo}">
									<p:ajax update=":score,:scoreAdjustment" process="@this" />
								</p:spinner>
							</div>
						</div>
					</div>
					<div class="span3">
						<div class="control-group ">
							<h:outputLabel class="control-label"
								value="In che stagione siamo ? (0-1):" for="inCheStagioneSiamo">
								<h:message id="msgInCheStagioneSiamo" for="inCheStagioneSiamo"
									errorClass="help-block alert alert-error" />
							</h:outputLabel>
							<div class="controls controls-row ">
								<p:spinner id="inCheStagioneSiamo" min="0" max="1"
									styleClass="input-block-level"
									value="#{mmseBean.current.inCheStagioneSiamo}">
									<p:ajax update=":score,:scoreAdjustment" process="@this" />
								</p:spinner>

							</div>
						</div>
					</div>
					<div class="span3">
						<div class="control-group ">
							<h:outputLabel class="control-label"
								value="In che mese siamo ? (0-1):" for="inCheMeseSiamo">
								<h:message id="msgInCheMeseSiamo" for="inCheMeseSiamo"
									errorClass="help-block alert alert-error" />

							</h:outputLabel>
							<div class="controls controls-row">
								<p:spinner id="inCheMeseSiamo" min="0" max="1"
									styleClass="input-block-level"
									value="#{mmseBean.current.inCheMeseSiamo}">
									<p:ajax update=":score,:scoreAdjustment" process="@this" />
								</p:spinner>

							</div>
						</div>
					</div>

					<div class="span3">
						<div class="control-group">
							<h:outputLabel class="control-label"
								value="Mi dice la data di oggi ? (0-1):" for="dataOdierna">
								<h:message id="msgDataOdierna" for="dataOdierna"
									errorClass="help-block alert alert-error" />
							</h:outputLabel>
							<div class="controls controls-row">
								<p:spinner id="dataOdierna" min="0" max="1"
									styleClass="input-block-level"
									value="#{mmseBean.current.dataOdierna}">
									<p:ajax update=":score,:scoreAdjustment" process="@this" />
								</p:spinner>
							</div>
						</div>
					</div>
				</div>

				<div class="row-fluid">
					<div class="span3">
						<div class="control-group">
							<h:outputLabel class="control-label"
								value="Che giorno della settimana e oggi ? (0-1):"
								for="giornoSettimanaOggi">
								<h:message id="msgGiornoSettimanaOggi" for="giornoSettimanaOggi"
									errorClass="help-block alert alert-error" />
							</h:outputLabel>
							<div class="controls controls-row ">
								<p:spinner id="giornoSettimanaOggi" min="0" max="1"
									styleClass="input-block-level"
									value="#{mmseBean.current.giornoSettimanaOggi}">
									<p:ajax update=":score,:scoreAdjustment" process="@this" />
								</p:spinner>

							</div>
						</div>
					</div>

					<div class="span3">
						<div class="control-group ">
							<h:outputLabel class="control-label"
								value="Mi dice in che nazione siamo ? (0-1):&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;"
								for="inCheNazioneSiamo">
								<h:message id="msgInCheNazioneSiamo" for="inCheNazioneSiamo"
									errorClass="help-block alert alert-error" />
							</h:outputLabel>
							<div class="controls controls-row">
								<p:spinner id="inCheNazioneSiamo" min="0" max="1"
									styleClass="input-block-level"
									value="#{mmseBean.current.inCheNazioneSiamo}">
									<p:ajax update=":score,:scoreAdjustment" process="@this" />
								</p:spinner>

							</div>
						</div>
					</div>

					<div class="span3">
						<div class="control-group">
							<h:outputLabel class="control-label"
								value="In quale regione italiana siamo ? (0-1):"
								for="inQualeRegioneSiamo">
								<h:message id="msgInQualeRegioneSiamo" for="inQualeRegioneSiamo"
									errorClass="help-block alert alert-error" />
							</h:outputLabel>
							<div class="controls controls-row">
								<p:spinner id="inQualeRegioneSiamo" min="0" max="1"
									styleClass="input-block-level"
									value="#{mmseBean.current.inQualeRegioneSiamo}">
									<p:ajax update=":score,:scoreAdjustment" process="@this" />
								</p:spinner>
							</div>
						</div>
					</div>

					<div class="span3">
						<div class="control-group ">
							<h:outputLabel class="control-label"
								value="In quale città ci troviamo ? (0-1):&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
							&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;"
								for="inQualeCittaCiTroviamo">
								<h:message id="msgInQualeCittaCiTroviamo"
									for="inQualeCittaCiTroviamo"
									errorClass="help-block alert alert-error" />
							</h:outputLabel>
							<div class="controls controls-row">
								<p:spinner id="inQualeCittaCiTroviamo" min="0" max="1"
									styleClass="input-block-level"
									value="#{mmseBean.current.inQualeCittaCiTroviamo}">
									<p:ajax update=":score,:scoreAdjustment" process="@this" />
								</p:spinner>

							</div>
						</div>
					</div>
				</div>

				<div class="row-fluid">
					<div class="span3">
						<div class="control-group">
							<h:outputLabel class="control-label"
								value="Mi dice il nome del luogo dove ci troviamo ? (0-1):"
								for="nomeDelLuogo">
								<h:message id="msgNomeDelLuogo" for="nomeDelLuogo"
									errorClass="help-block alert alert-error" />
							</h:outputLabel>
							<div class="controls controls-row">
								<p:spinner id="nomeDelLuogo" min="0" max="1"
									styleClass="input-block-level"
									value="#{mmseBean.current.nomeDelLuogo}">
									<p:ajax update=":score,:scoreAdjustment" process="@this" />
								</p:spinner>

							</div>
						</div>
					</div>

					<div class="span3">
						<div class="control-group">
							<h:outputLabel class="control-label"
								value="A che piano siamo ? (0-1):" for="achePianoSiamo">
								<h:message id="msgAchePianoSiamo" for="achePianoSiamo"
									errorClass="help-block alert alert-error" />
							</h:outputLabel>
							<br></br>
							<div class="controls controls-row">
								<p:spinner id="achePianoSiamo" min="0" max="1"
									styleClass="input-block-level"
									value="#{mmseBean.current.achePianoSiamo}">
									<p:ajax update=":score,:scoreAdjustment" process="@this" />
								</p:spinner>
							</div>
						</div>
					</div>

					<div class="span3">
						<div class="control-group ">
							<h:outputLabel class="control-label"
								value="Ripeta: casa,pane,gatto(max 6 volte): (0-3)"
								for="ripetereCasaPaneGatto">
								<h:message id="msgRipetereCasaPaneGatto"
									for="ripetereCasaPaneGatto"
									errorClass="help-block alert alert-error" />
							</h:outputLabel>
							<div class="controls controls-row">
								<p:spinner id="ripetereCasaPaneGatto" min="0" max="3"
									styleClass="input-block-level"
									value="#{mmseBean.current.ripetereCasaPaneGatto}">
									<p:ajax update=":score,:scoreAdjustment" process="@this" />
								</p:spinner>

							</div>
						</div>
					</div>

					<div class="span3">
						<div class="control-group ">
							<h:outputLabel class="control-label"
								value="Conti a ritroso o sillabare all'indietro MONDO (0-5):"
								for="contareRitroso">
								<h:message id="msgcontareRitroso" for="contareRitroso"
									errorClass="help-block alert alert-error" />
							</h:outputLabel>
							<div class="controls controls-row">
								<p:spinner id="contareRitroso" min="0" max="5"
									styleClass="input-block-level"
									value="#{mmseBean.current.contareRitroso}">
									<p:ajax update=":score,:scoreAdjustment" process="@this" />
								</p:spinner>

							</div>
						</div>
					</div>

				</div>

				<div class="row-fluid">
					<div class="span3">
						<div class="control-group ">
							<h:outputLabel class="control-label"
								value="Ripeta il nome dei tre oggetti precedenti (0-3):"
								for="ripetereNomeOggettiPrecti">
								<h:message id="msgRipetereNomeOggettiPrecti"
									for="ripetereNomeOggettiPrecti"
									errorClass="help-block alert alert-error" />
							</h:outputLabel>
							<BR />
							<div class="controls controls-row">
								<p:spinner id="ripetereNomeOggettiPrecti" min="0" max="3"
									styleClass="input-block-level"
									value="#{mmseBean.current.ripetereNomeOggettiPrecti}">
									<p:ajax update=":score,:scoreAdjustment" process="@this" />
								</p:spinner>

							</div>
						</div>
					</div>

					<div class="span3">
						<div class="control-group ">
							<h:outputLabel class="control-label"
								value="Mostrare un orologio ed una matita chiedento di dirne il nome (0-2):"
								for="mostrareOrologiaMatita">
								<h:message id="msgMostrareOrologiaMatita"
									for="mostrareOrologiaMatita"
									errorClass="help-block alert alert-error" />
							</h:outputLabel>
							<div class="controls controls-row">
								<p:spinner id="mostrareOrologiaMatita" min="0" max="2"
									styleClass="input-block-level"
									value="#{mmseBean.current.mostrareOrologiaMatita}">
									<p:ajax update=":score,:scoreAdjustment" process="@this" />
								</p:spinner>

							</div>
						</div>
					</div>

					<div class="span3">
						<div class="control-group ">
							<h:outputLabel class="control-label"
								value="Ripetere: TIGRE CONTRO TIGRE (0-1):"
								for="ripetereTigreControTigre">
								<h:message id="msgRipetereTigreControTigre"
									for="ripetereTigreControTigre"
									errorClass="help-block alert alert-error" />
							</h:outputLabel>
							<BR />
							<div class="controls controls-row">
								<p:spinner id="ripetereTigreControTigre" min="0" max="1"
									styleClass="input-block-level"
									value="#{mmseBean.current.ripetereTigreControTigre}">
									<p:ajax update=":score,:scoreAdjustment" process="@this" />
								</p:spinner>

							</div>
						</div>
					</div>

					<div class="span3">
						<div class="control-group ">
							<h:outputLabel class="control-label"
								value="Prenda questo foglio con la mano destra,lo pieghi e lo metta per terra (0-3):"
								for="piegareFoglio">
								<h:message id="msgPiegareFoglio" for="piegareFoglio"
									errorClass="help-block alert alert-error" />
							</h:outputLabel>
							<div class="controls controls-row">
								<p:spinner id="piegareFoglio" min="0" max="3"
									styleClass="input-block-level"
									value="#{mmseBean.current.piegareFoglio}">
									<p:ajax update=":score,:scoreAdjustment" process="@this" />
								</p:spinner>

							</div>
						</div>
					</div>
				</div>

				<div class="row-fluid">
					<div class="span3">
						<div class="control-group ">
							<h:outputLabel class="control-label"
								value="Legga ed esegua quanto scritto su questo foglio (chiuda gli occhi) (0-1):"
								for="leggereEdEseguire">
								<h:message id="msgLeggereEdEseguire" for="leggereEdEseguire"
									errorClass="help-block alert alert-error" />
							</h:outputLabel>
							<div class="controls controls-row">
								<p:spinner id="leggereEdEseguire" min="0" max="1"
									styleClass="input-block-level"
									value="#{mmseBean.current.leggereEdEseguire}">
									<p:ajax update=":score,:scoreAdjustment" process="@this" />
								</p:spinner>
							</div>
						</div>
					</div>

					<div class="span3">
						<div class="control-group ">
							<h:outputLabel class="control-label"
								value="Scriva una frase (deve contenere soggetto e verbo) (0-1):"
								for="scrivereFrase">
								<h:message id="msgScrivereFrase" for="scrivereFrase"
									errorClass="help-block alert alert-error" />
							</h:outputLabel>
							<div class="controls threeColumnTest">
								<p:spinner id="scrivereFrase" min="0" max="1"
									styleClass="input-block-level"
									value="#{mmseBean.current.scrivereFrase}">
									<p:ajax update=":score,:scoreAdjustment" process="@this" />
								</p:spinner>

							</div>
						</div>
					</div>

					<div class="span3">
						<div class="control-group ">
							<h:outputLabel class="control-label"
								value="Copi questo disegno (pentagoni intrecciati)(0-1):"
								for="copiareDisegno">
								<h:message id="msgCopiareDisegno" for="copiareDisegno"
									errorClass="help-block alert alert-error" />
							</h:outputLabel>
							<BR />
							<div class="controls controls-row">
								<p:spinner id="copiareDisegno" min="0" max="1"
									styleClass="input-block-level"
									value="#{mmseBean.current.copiareDisegno}">
									<p:ajax update=":score,:scoreAdjustment" process="@this" />
								</p:spinner>
							</div>
						</div>
					</div>

					<div class="span3">
						<div class="control-group">
							<h:outputLabel class="control-label"
								value="Data di compilazione *:" for="dataCompilazioneMMSE">
							</h:outputLabel>
							<BR /> <BR />
							<div class="controls controls-row">
								<p:calendar id="dataCompilazioneMMSE"
									validator="#{mmseBean.validateDate}"
									styleClass="input-block-level"
									disabled="#{securityBean.isUserAdmin eq false}"
									autocomplete="off" value="#{mmseBean.current.dataCompilazione}"
									pattern="dd/MM/yyyy" title="Data di compilazione">
									<p:ajax event="dateSelect" listener="#{mmseBean.onDateSelect}" />
								</p:calendar>
								<p:message id="msgdataCompilazioneMMSE"
									for="dataCompilazioneMMSE" />
							</div>
						</div>
					</div>
				</div>
				<div class="span12">
					<div class="form-actions">
						<h:commandLink value="Salva cambiamenti"
							rendered="#{securityBean.isUser eq true}"
							action='#{mmseBean.update()}' styleClass="btn btn-primary">
						</h:commandLink>
						<h:link value="Annulla"
							outcome="/pages/secure/paziente/patientDashboard"
							styleClass="btn">
							<f:param name="cid" value="#{mmseBean.conversation.id}" />
						</h:link>
					</div>
				</div>
			</h:form>
		</div>
	</ui:define>
</ui:composition>