<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

    <f:view contentType="text/html">

        <ui:insert name="metadata"/>

        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <title>RegWebXX login</title>

            <h:outputStylesheet library="css" name="bootstrap.css" /> 
            <h:outputStylesheet library="css" name="bootstrap-responsive.css" />

            <h:outputStylesheet library="themeFlat" name="css/style.css" /> 
            <h:outputStylesheet library="themeFlat" name="css/themes.css" />
            <h:outputStylesheet library="themeFlat" name="css/themes_override.css"/>
        </h:head>


        <h:body class='locked'>
            <div class="wrapper">
                <div class="pull-left">
                    <img src="#{request.contextPath}/resources/themeFlat/img/demo/anon_user.png" alt="" width="200" height="200"/>
                    <h:form>
                        <h:commandLink  value="Non sei #{loginBean.nomeCognome}?"
                                        action="#{loginBean.logout()}">
                        </h:commandLink>
                    </h:form>
                </div>
                <div class="right">
                    <div class="upper">
                        <h2>#{loginBean.nomeCognome}</h2>
                        <span>Locked</span>
                    </div>
                    <h:form id="validatePassword" >
                        <div class="control-group">
                            <p:password id="password" value="#{loginBean.passwordCheck}" 
                                        required="true" 
                                        styleClass="input-block-level" 
                                        requiredMessage="Inserisci password" />
                            <p:watermark for="password" value="Password" />

                            <h:message id="msgPassword"  for="password" errorClass="help-block alert alert-error"   />
                        </div>
                        <div>
                            <p:commandButton action="#{loginBean.unlock}"
                                             styleClass="btn btn-inverse" update ="validatePassword"
                                             value="Unlock" /> 
                        </div>
                    </h:form>
                </div>
            </div> 

            <h:outputScript library="js" name="bootstrap.min.js"></h:outputScript>        
            <h:outputScript library="js" name="pfcrud.js" target="head"></h:outputScript>

        </h:body>





    </f:view>
</html>

