<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:o="http://omnifaces.org/ui" xmlns:p="http://primefaces.org/ui"
	template="/pages/secure/dashboard/dashboard.xhtml">


	<ui:define name="metadata">
		<f:metadata>
			<f:viewParam name="username"
				value='#{jsfSpringSecUsersBean.username}' />
			<f:event type="preRenderView"
				listener='#{jsfSpringSecUsersBean.retrieve()}' />
			<f:event type="preRenderView"
				listener='#{provinciaregioneBean.preloadComuneByProvincia(jsfSpringSecUsersBean.jsfSpringSecUsers.comune.provinciaregione.codiceProvincia)}' />

		</f:metadata>
	</ui:define>

	<ui:define name="page-header" >
		#{anagraficaPazienteBean.conversation.transient}
	</ui:define>


	<ui:define name="contenuti">
		<div class="row-fluid">
			<div class="span12">
				<div class="box box-color box-bordered">
					<div class="box-title">
						<h3>
							<i class="icon-user"></i> View user profile
						</h3>
					</div>

					<div class="box-content nopadding">
						<ul class="tabs tabs-inline tabs-top">
							<li class='active'><a href="#profile" data-toggle='tab'><i
									class="icon-user"></i> Profile</a></li>
							<li><a href="#security" data-toggle='tab'><i
									class="icon-lock"></i> Security</a></li>
						</ul>
						<div
							class="tab-content padding tab-content-inline tab-content-bottom">
							<div class="tab-pane active" id="profile">
								<h:form id="formProfile" prependId="false"
									class='form-horizontal '>
									<div class="span2">
										<div class="fileupload fileupload-new"
											data-provides="fileupload">
											<div class="fileupload-new thumbnail"
												style="max-width: 200px; max-height: 150px;">
												<img
													src="#{request.contextPath}/resources/themeFlat/img/demo/anon_user2.png" />
											</div>

										</div>
									</div>
									<div class="span10">
										<div class="control-group">
											<label for="name" class="control-label right">Nome:</label>
											<div class="controls">
												<h:inputText id="nominativo" class="input-xlarge"
													autocomplete="off"
													disabled="#{securityBean.isUser eq false}"
													value="#{jsfSpringSecUsersBean.jsfSpringSecUsers.jsfSpringSecUsersNomeCognome}">
												</h:inputText>
											</div>
										</div>
										<div class="control-group">
											<label for="name" class="control-label right">Email:</label>
											<div class="controls">
												<h:inputText id="email" class="input-xlarge"
													autocomplete="off"
													disabled="#{securityBean.isUser eq false}"
													value="#{jsfSpringSecUsersBean.jsfSpringSecUsers.jsfSpringSecUsersEmail}">
												</h:inputText>
											</div>
										</div>

<!-- 										<div class="control-group"> -->
<!-- 											<label for="istituto" class="control-label right">Istituto:</label> -->
<!-- 											<div class="controls"> -->
<!-- 											<h:outputText value="{jsfSpringSecUsersBean.jsfSpringSecUsers.istituto}"  class="input-xlarge"/> -->
<!-- 												<h:selectOneMenu id="istituto" class="input-xlarge" -->
<!-- 													disabled="{securityBean.isUser eq false}" -->
<!-- 													converter="omnifaces.SelectItemsConverter" -->
<!-- 													value="{jsfSpringSecUsersBean.jsfSpringSecUsers.istituto}"> -->
<!-- - 													<f:selectItem itemLabel="{_item.denominazione}" -->
<!--  														itemValue="{_item}" />  -->
<!--  													<f:selectItem itemLabel=""  -->
<!--  														itemValue="{null}" />  -->
<!-- 													<f:selectItems value="{istitutoBean.all}" var="_item" -->
<!-- 														itemLabel="{_item.denominazione}" itemValue="{_item}" /> -->
<!-- 												</h:selectOneMenu> -->
<!-- 											</div> -->
<!-- 										</div> -->
										<h:panelGroup rendered="#{securityBean.isUser eq false}">
											<div class="control-group">
												<label for="citta" class="control-label right">Citta:</label>
												<div class="controls">
													<h:inputText id="citta" class="input-xlarge"
														autocomplete="off" disabled="true"
														value="#{jsfSpringSecUsersBean.jsfSpringSecUsers.comune.denominazione}">
													</h:inputText>
												</div>
											</div>
										</h:panelGroup>
										<h:panelGroup rendered="#{securityBean.isUser eq true}">
											<div class="control-group">
												<label for="provinciaResidenza" class="control-label right">Residenza:</label>
												<div class="controls">
													<h:selectOneMenu id="provinciaResidenza"
														class="input-xlarge"
														converter="omnifaces.SelectItemsConverter"
														disabled="#{securityBean.isUser eq false}"
														value="#{provinciaregioneBean.provinciaregione}">
														<f:selectItem itemLabel="Seleziona una provincia"
															itemValue="#{null}" />
														<f:selectItems value="#{provinciaregioneBean.all}"
															var="provincia"
															itemLabel="#{provincia.denominazioneProvincia}"
															itemValue="#{provincia}" />
														<f:ajax render="comunecomuneID"
															listener="#{provinciaregioneBean.getComuniByProvincia()}" />
													</h:selectOneMenu>
													<h:message id="msgProvinciaResidenza"
														for="provinciaResidenza"
														errorClass="help-block alert alert-error" />
												</div>
											</div>

											<div class="control-group">
												<label for="cittaID" class="control-label right">Citta:</label>
												<div class="controls">
													<h:selectOneMenu id="comunecomuneID" class="input-xlarge"
														converter="omnifaces.SelectItemsConverter"
														value="#{jsfSpringSecUsersBean.jsfSpringSecUsers.comune}">
														<c:if test="#{empty jsfSpringSecUsersBean.username}">
															<f:selectItem itemLabel="Seleziona un comune"
																itemValue="#{null}" />
														</c:if>
														<c:if test="#{!empty jsfSpringSecUsersBean.username}">
															<f:selectItem
																itemValue="#{jsfSpringSecUsersBean.jsfSpringSecUsers.comune}"
																itemLabel="#{jsfSpringSecUsersBean.jsfSpringSecUsers.comune.denominazione}">
															</f:selectItem>
														</c:if>
														<f:selectItems value="#{provinciaregioneBean.comuni}"
															var="comune" itemLabel="#{comune.denominazione}"
															itemValue="#{comune}" />
													</h:selectOneMenu>
													<h:message id="msgcomunecomuneID" for="comunecomuneID"
														errorClass="help-block alert alert-error" />
												</div>
											</div>
										</h:panelGroup>


										<div class="control-group">
											<label for="indirizzo" class="control-label right">Indirizzo</label>
											<div class="controls">
												<h:inputText id="indirizzo" class="input-xlarge"
													autocomplete="off"
													disabled="#{securityBean.isUser eq false}"
													value="#{jsfSpringSecUsersBean.jsfSpringSecUsers.jsfSpringSecUsersIndirizzo}">
												</h:inputText>
											</div>
										</div>
										<div class="control-group">
											<label for="telefono" class="control-label right">Telefono</label>
											<div class="controls">
												<h:inputText id="telefono" class="input-xlarge"
													autocomplete="off"
													disabled="#{securityBean.isUser eq false}"
													value="#{jsfSpringSecUsersBean.jsfSpringSecUsers.jsfSpringSecUsersTelefono}">
												</h:inputText>
											</div>
										</div>
										<div class="form-actions">
											<h:commandLink value="Salva"
												rendered="#{securityBean.isUser eq true}"
												action='#{jsfSpringSecUsersBean.update()}'
												styleClass="btn btn-primary">
											</h:commandLink>
											<h:link value="Chiudi"
												outcome="/pages/secure/dashboard/dashboard" styleClass="btn">
<!-- 												<f:param name="cid" -->
<!-- 													value="{jsfSpringSecUsersBean.conversation.id}" /> -->
											</h:link>
										</div>
									</div>
								</h:form>
							</div>
							<div class="tab-pane" id="security">
								<h:form id="formSecurity" prependId="false"
									class='form-horizontal '>

									<f:event listener="#{jsfSpringSecUsersBean.validatePassword}"
										type="postValidate" />

									<div class="control-group">
										<label for="username" class="control-label right">Username:</label>
										<div class="controls">
											<h:inputText id="username"
												value="#{jsfSpringSecUsersBean.jsfSpringSecUsers.jsfSpringSecUsersUsername}"
												disabled="true" />
											<br></br> <br></br>
										</div>
									</div>

									<div class="control-group">
										<label for="password" class="control-label right">Password:</label>
										<div class="controls">
											<h:inputSecret id="password"
												value="#{jsfSpringSecUsersBean.jsfSpringSecUsers.jsfSpringSecUsersPassword}"
												required="true" requiredMessage="Inserisci password" />
											<h:message id="msgPassword" for="password"
												errorClass="help-block alert alert-error" />
										</div>
									</div>

									<div class="control-group">
										<label for="confirmPassword" class="control-label right">Conferma
											password:</label>
										<div class="controls">
											<h:inputSecret id="confirmPassword"
												value="#{jsfSpringSecUsersBean.jsfSpringSecUsers.jsfSpringSecUsersPassword}"
												required="true" requiredMessage="Conferma la password" />
											<h:message id="msgconfirmPassword" for="confirmPassword"
												errorClass="help-block alert alert-error" />
										</div>
									</div>
									<div class="form-actions">
										<p:commandButton value="Salva nuova password" rendered="#{securityBean.isUser eq true}"
											actionListener="#{jsfSpringSecUsersBean.update()}"
											update="formSecurity :growl" styleClass="btn btn-primary" />
									</div>
								</h:form>

								<h:form class='form-horizontal '>
									<div class="control-group">
										<label class="control-label right">Lock account?</label>
										<div class="controls">
											<p:commandLink styleClass="btn btn-danger"
												value="Blocca account adesso"
												action="/pages/secure/dashboard/user/locked_account?faces-redirect=true">
											</p:commandLink>
										</div>
									</div>
								</h:form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>

