<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:o="http://omnifaces.org/ui" xmlns:p="http://primefaces.org/ui"
	template="/templates/patientDashboardTemplate.xhtml">


	<ui:define name="metadata">
		<f:metadata>
			<f:viewParam name="id" value='#{demograficaBean.id}' />
			<f:event type="preRenderView"
				listener='#{demograficaBean.retrieve()}' />
		</f:metadata>
	</ui:define>



	<ui:define name="dash">
		<div class="box-title">
			<h3>
				<i class="icon-list"></i>
				<c:choose>
					<c:when test='#{!empty demograficaBean.id}'>
				Modifica scheda demografica
			</c:when>
					<c:otherwise>
				Crea scheda demografica
			</c:otherwise>
				</c:choose>

			</h3>
		</div>
		<div class="box-content nopadding">
			<h:form id="demograficaForm" prependId="false"
				class='form-horizontal form-column form-bordered'>

				<div class="span6">
					<div class="control-group twoColumn">
						<h:outputLabel class="control-label" value="Con chi vive:"
							for="conChiVive" />
						<div class="controls">
							<h:selectOneMenu id="conChiVive"
								converter="omnifaces.SelectItemsConverter"
								disabled="#{securityBean.isUser eq false}"
								value="#{demograficaBean.current.conchivive}">
								<f:selectItem itemLabel="-- Selezione un elemento --"
									noSelectionOption="true" />
								<f:selectItems value="#{conchiviveBean.all}" var="_item"
									itemLabel="#{_item.descrizione}" itemValue="#{_item}" />
							</h:selectOneMenu>
							<h:message id="msgconChiVive" for="conChiVive"
								errorClass="help-block alert alert-error" />
						</div>
					</div>

					<div class="control-group twoColumn">
						<h:outputLabel class="control-label" value="Contatti sociali:"
							for="contattiSociali" />
						<div class="controls">
							<h:selectOneMenu id="contattiSociali"
								converter="omnifaces.SelectItemsConverter"
								disabled="#{securityBean.isUser eq false}"
								value="#{demograficaBean.current.contattisociali}">
								<f:selectItem itemLabel="-- Selezione un elemento --"
									noSelectionOption="true" />
								<f:selectItems value="#{contattisocialiBean.all}" var="_item"
									itemLabel="#{_item.descrizione}" itemValue="#{_item}" />
							</h:selectOneMenu>
							<h:message id="msgcontattiSociali" for="contattiSociali"
								errorClass="help-block alert alert-error" />
						</div>
					</div>

					<div class="control-group twoColumn">
						<h:outputLabel class="control-label" value="Esce abitazione:"
							for="escePropriaAbitazione" />
						<div class="controls">
							<h:selectOneMenu id="escePropriaAbitazione"
								converter="omnifaces.SelectItemsConverter"
								disabled="#{securityBean.isUser eq false}"
								value="#{demograficaBean.current.escepropriaabitazione}">
								<f:selectItem itemLabel="-- Selezione un elemento --"
									noSelectionOption="true" />
								<f:selectItems value="#{escepropriaabitazioneBean.all}"
									var="_item" itemLabel="#{_item.descrizione}"
									itemValue="#{_item}" />
							</h:selectOneMenu>
							<h:message id="msgescePropriaAbitazione"
								for="escePropriaAbitazione"
								errorClass="help-block alert alert-error" />
						</div>
					</div>
					<div class="control-group twoColumn">
						<h:outputLabel class="control-label" value="Assistenza privata:"
							for="presenzaAssistenzaPrivata" />
						<div class="controls">
							<h:selectOneMenu id="presenzaAssistenzaPrivata"
								converter="omnifaces.SelectItemsConverter"
								disabled="#{securityBean.isUser eq false}"
								value="#{demograficaBean.current.assistenzaprivata}">
								<f:selectItem itemLabel="-- Selezione un elemento --"
									noSelectionOption="true" />
								<f:selectItems value="#{assistenzaprivataBean.all}" var="_item"
									itemLabel="#{_item.descrizione}" itemValue="#{_item}" />
							</h:selectOneMenu>
							<h:message id="msgpresenzaAssistenzaPrivata"
								for="presenzaAssistenzaPrivata"
								errorClass="help-block alert alert-error" />
						</div>
					</div>

					<div class="control-group twoColumn">
						<h:outputLabel class="control-label"
							value="Anni dall'ultimo trasf.resid.:"
							for="anniUltimoTrasferimentoResidenza" />
						<div class="controls">
							<h:inputText id="anniUltimoTrasferimentoResidenza"
								class="input-large" maxlength="2"
								disabled="#{securityBean.isUser eq false}" autocomplete="off"
								value="#{demograficaBean.current.anniUltimoTrasferimentoResidenza}">
							</h:inputText>
							<h:message id="msganniUltimoTrasferimentoResidenza"
								for="anniUltimoTrasferimentoResidenza"
								errorClass="help-block alert alert-error" />
						</div>
					</div>

					<div class="control-group twoColumn">
						<h:outputLabel class="control-label"
							value="Presenza barriere architett.:"
							for="presenzaBarriereArchitettoniche" />
						<div class="controls">
							<h:selectOneMenu id="presenzaBarriereArchitettoniche"
								disabled="#{securityBean.isUser eq false}"
								value="#{demograficaBean.current.presenzaBarriereArchitettoniche}">
								<f:selectItems value="#{demograficaBean.fillItemYesNo()}"
									var="_item" itemLabel="#{_item.description}"
									itemValue="#{_item}" />
							</h:selectOneMenu>
							<h:message id="msgpresenzaBarriereArchitettoniche"
								for="presenzaBarriereArchitettoniche"
								errorClass="help-block alert alert-error" />
						</div>
					</div>


					<div class="control-group twoColumn">
						<h:outputLabel class="control-label"
							value="Livello di istruzione:" for="livelloIstruzione" />
						<div class="controls">
							<h:selectOneMenu id="livelloIstruzione"
								converter="omnifaces.SelectItemsConverter"
								disabled="#{securityBean.isUser eq false}"
								value="#{demograficaBean.current.livelloistruzione}">
								<f:selectItem itemLabel="-- Selezione un elemento --"
									noSelectionOption="true" />
								<f:selectItems value="#{livelloistruzioneBean.all}" var="_item"
									itemLabel="#{_item.descrizione}" itemValue="#{_item}" />
							</h:selectOneMenu>
							<h:message id="msglivelloIstruzione" for="livelloIstruzione"
								errorClass="help-block alert alert-error" />
						</div>
					</div>

					<div class="control-group twoColumn">
						<h:outputLabel class="control-label"
							value="Utilizzo di servizio pubblico:" for="servizioPubblico" />
						<div class="controls">
							<h:selectOneMenu id="servizioPubblico"
								converter="omnifaces.SelectItemsConverter"
								disabled="#{securityBean.isUser eq false}"
								value="#{demograficaBean.current.utilizzoServizioPubblico}">
								<f:selectItems value="#{demograficaBean.fillItemYesNo()}"
									var="_item" itemLabel="#{_item.description}"
									itemValue="#{_item}" />
							</h:selectOneMenu>
							<h:message id="msgservizioPubblico" for="servizioPubblico"
								errorClass="help-block alert alert-error" />
						</div>
					</div>

				</div>

				<div class="span6">

					<div class="control-group twoColumn">
						<h:outputLabel class="control-label"
							value="Benefici assistenziali:" for="beneficiAssistenziali" />
						<div class="controls">
							<h:selectOneMenu id="beneficiAssistenziali"
								converter="omnifaces.SelectItemsConverter"
								disabled="#{securityBean.isUser eq false}"
								value="#{demograficaBean.current.beneficiassistenziali}">
								<f:selectItem itemLabel="-- Selezione un elemento --"
									noSelectionOption="true" />
								<f:selectItems value="#{beneficiassistenzialiBean.all}"
									var="_item" itemLabel="#{_item.descrizione}"
									itemValue="#{_item}" />
							</h:selectOneMenu>
							<h:message id="msgbeneficiAssistenziali"
								for="beneficiAssistenziali"
								errorClass="help-block alert alert-error" />
						</div>
					</div>

					<div class="control-group twoColumn">
						<h:outputLabel class="control-label"
							value="Condizioni Economiche:"
							for="condizioniEconomichecondizioniEconomicheID" />
						<div class="controls">
							<h:selectOneMenu id="condizioniEconomichecondizioniEconomicheID"
								converter="omnifaces.SelectItemsConverter"
								disabled="#{securityBean.isUser eq false}"
								value="#{demograficaBean.current.condizionieconomiche}">
								<f:selectItem itemLabel="-- Selezione un elemento --"
									noSelectionOption="true" />
								<f:selectItems value="#{condizionieconomicheBean.all}"
									var="_item" itemLabel="#{_item.descrizione}"
									itemValue="#{_item}" />
							</h:selectOneMenu>
							<h:message id="msgcondizioniEconomichecondizioniEconomicheID"
								for="condizioniEconomichecondizioniEconomicheID"
								errorClass="help-block alert alert-error" />
						</div>
					</div>

					<div class="control-group twoColumn">
						<h:outputLabel class="control-label" value="Casa di proprietà:"
							for="casaProprieta" />
						<div class="controls">
							<h:selectOneMenu id="casaProprieta"
								disabled="#{securityBean.isUser eq false}"
								value="#{demograficaBean.current.casaProprieta}">
								<f:selectItems value="#{demograficaBean.fillItemYesNo()}"
									var="_item" itemLabel="#{_item.description}"
									itemValue="#{_item}" />
							</h:selectOneMenu>
							<h:message id="msgcasaProprieta" for="casaProprieta"
								errorClass="help-block alert alert-error" />
						</div>
					</div>

					<div class="control-group twoColumn">
						<h:outputLabel class="control-label" value="Medico curante:"
							for="medicoCurante" />
						<div class="controls">
							<h:inputText id="medicoCurante" class="input-large"
								maxlength="45" disabled="#{securityBean.isUser eq false}"
								autocomplete="off"
								value="#{demograficaBean.current.medicoCurante}">
							</h:inputText>
							<h:message id="msgmedicoCurante" for="medicoCurante"
								errorClass="help-block alert alert-error" />
						</div>
					</div>
					<div class="control-group twoColumn">
						<h:outputLabel class="control-label" value="Stato civile: *"
							for="statoCivile" />
						<div class="controls">
							<h:selectOneMenu id="statoCivile"
								converter="omnifaces.SelectItemsConverter"
								disabled="#{securityBean.isUser eq false}"
								value="#{demograficaBean.current.statocivile}">
								<f:selectItem itemLabel="-- Selezione un elemento --" noSelectionOption="true" />
								<f:selectItems value="#{statocivileBean.all}" var="_item"
									itemLabel="#{_item.descrizione}" itemValue="#{_item}" />
							</h:selectOneMenu>
							<h:message id="msgstatoCivile" for="statoCivile"
								errorClass="help-block alert alert-error" />
						</div>
					</div>
					<div class="control-group twoColumn">
						<h:outputLabel class="control-label" value="Numero figli viventi:"
							for="numeroFigliViventi" />
						<div class="controls">
							<h:inputText id="numeroFigliViventi" class="input-large"
								maxlength="2" disabled="#{securityBean.isUser eq false}"
								autocomplete="off"
								value="#{demograficaBean.current.numeroFigliViventi}">
							</h:inputText>
							<h:message id="msgnumeroFigliViventi" for="numeroFigliViventi"
								errorClass="help-block alert alert-error" />
						</div>
					</div>
					<div class="control-group twoColumn">
						<h:outputLabel class="control-label" value="Data di compilazione:"
							for="dataCompilazioneTwoColumn" />
						<div class="controls"  >
							<p:calendar id="dataCompilazioneTwoColumn" styleClass="input-xlarge"
								validator="#{demograficaBean.validateDate}"
								disabled="#{securityBean.isUserAdmin eq false}"
								autocomplete="off"
								value="#{demograficaBean.current.dataCompilazione}"
								pattern="dd/MM/yyyy" title="Data di compilazione" />
							<p:message id="msgdataCompilazioneTwoColumn" for="dataCompilazioneTwoColumn" />
						</div>
					</div>
					<div class="control-group twoColumn">
						<h:outputLabel class="control-label" value="" for="empy" />
						<div class="controls">
							<h:inputText id="empy" class="input-large" disabled="true"
								autocomplete="off" value="">
							</h:inputText>
							<h:message id="msgempy" for="empy"
								errorClass="help-block alert alert-error" />
						</div>
					</div>

				</div>
				<div class="span12">
					<div class="form-actions">
						<h:commandLink value="#{bundle.IndirizzoresidenzaSaveLink}"
							rendered="#{securityBean.isUser eq true}"
							action='#{demograficaBean.update()}' styleClass="btn btn-primary">
						</h:commandLink>

						<h:link value="Annulla"
							outcome="/pages/secure/paziente/patientDashboard"
							styleClass="btn">
							<f:param name="cid" value="#{demograficaBean.conversation.id}" />
						</h:link>

					</div>
				</div>



			</h:form>
		</div>
	</ui:define>
</ui:composition>