<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets">

    <ul>
        <li>
            <a href="more-login.html">Home</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="showDashboard.xhtml">Dashboard</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="#">Dashboard</a>
        </li>
    </ul>
    <div class="close-bread">
        <a href="#"><i class="icon-remove"></i></a>
    </div>
</ui:composition>
