<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	template="/templates/masterLayoutTemplate.xhtml">

	

	<ui:define name="metadata">
		<f:metadata>
		 <f:viewAction action="#{istitutoBean.findById(loginBean.idIstituto)}" onPostback="false" />
			<f:event type="preRenderView"
				listener="#{anagraficaPazienteBean.getCountbyIstituto(loginBean.idIstituto)}" />				
		</f:metadata>
	</ui:define>

	<ui:define name="header">
	
<!-- 				<h:link -->
<!-- 						outcome="/pages/secure/paziente/anagrafica/NewFile" -->
<!-- 						includeViewParams="true"> -->
<!-- 						<i class="icon-plus"></i> -->
<!-- 						<div class="details"> -->
<!-- 							<span class="big"> Nuovo</span> <span>Paziente TEST TEST</span> -->
<!-- 						</div> -->
<!-- 						<f:param name="idistituto" value="{loginBean.idIstituto}" /> -->
<!-- 					</h:link> -->
	 		<ui:include src="/pages/secure/dashboard/headerDashboard.xhtml" /> 
	</ui:define>

	<ui:define name="left">
		<ui:include src="/pages/secure/dashboard/menuLeftDashboard.xhtml" />
	</ui:define>

	<ui:define name="page-header">
			<ui:include src="/pages/secure/dashboard/pageHeaderDashboard.xhtml" />
	</ui:define>

	<ui:define name="breadcrumbs">
		<ui:include src="/pages/secure/dashboard/breadcrumbsDashboard.xhtml" />
	</ui:define>


</ui:composition>
