<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui" xmlns:p="http://primefaces.org/ui"
	template="/pages/secure/dashboard/dashboard.xhtml">

	<ui:define name="metadata">
		<f:metadata>
			<f:viewParam name="page" value='#{anagraficaPazienteBean.page}' />
			<f:event type="preRenderView"
				listener='#{anagraficaPazienteBean.paginate(loginBean.idIstituto,securityBean.isUserAdmin)}' />
		</f:metadata>
	</ui:define>

	<ui:define name="contenuti">
		<div class="row-fluid">
			<div class="span12">
				<div class="box box-color box-bordered">
					<div class="box-title">
						<h3>
							<i class="icon-table"></i> Lista pazienti
						</h3>
					</div>
					<div class="box-content nopadding">
						<h:form>
							<h:dataTable id="anagraficapazienteBeanPageItems"
								styleClass="table table-hover table-nomargin table-striped"
								value="#{anagraficaPazienteBean.pageItems}" var="_item">
								<h:column>
									<f:facet name="header">
										<h:outputText value="Cognome" />
									</f:facet>
									<h:link outcome="/pages/secure/paziente/anagrafica/edit" includeViewParams="true">
										<f:param name="id" value="#{_item.pazienteId}" />
										<h:outputText id="itemCognome" value="#{_item.cognome}" />
									</h:link>
								</h:column>
								<h:column>
									<f:facet name="header">
										<h:outputText value="Nome" />
									</f:facet>
									<h:link outcome="/pages/secure/paziente/anagrafica/edit">
										<f:param name="id" value="#{_item.pazienteId}" />
										<h:outputText id="itemNome" value="#{_item.nome}" />
									</h:link>
								</h:column>
								<h:column>
									<f:facet name="header">
										<h:outputText value="Comune di nascita" />
									</f:facet>
									<h:link outcome="/pages/secure/paziente/anagrafica/edit">
										<f:param name="id" value="#{_item.pazienteId}" />
										<h:outputText id="itemComuneNascita"
											value="#{_item.comune.denominazione}">
										</h:outputText>
									</h:link>
								</h:column>

								<h:column>
									<f:facet name="header">
										<h:outputText value="Data nascita" />
									</f:facet>
									<h:link outcome="/pages/secure/paziente/anagrafica/edit">
										<f:param name="id" value="#{_item.pazienteId}" />
										<h:outputText id="itemDataNascita"
											value="#{_item.dataNascita}">
											<f:convertDateTime type="date" />
										</h:outputText>
									</h:link>
								</h:column>
								<h:column>
									<f:facet name="header">
										<h:outputText value="Codice fiscale" />
									</f:facet>
									<h:link outcome="/pages/secure/paziente/anagrafica/edit">
										<f:param name="id" value="#{_item.pazienteId}" />
										<h:outputText id="itemCodiceFiscale"
											value="#{_item.codiceFiscale}" />
									</h:link>
								</h:column>
							</h:dataTable>
							<ui:include src="/templates/paginator.xhtml">
								<ui:param name="paginatorBean" value='#{anagraficaPazienteBean}' />
							</ui:include>
						</h:form>



					</div>
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>

