.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    background: url("/showcase/javax.faces.resource/images/ui-bg_highlight-soft_25_ffef8f_1x100.png.jsf?ln=primefaces-bluesky") repeat-x scroll 50% top #FFEF8F;
    border: 1px solid #F9DD34;
    color: #363636;
}



.ui-message-error-icon {
    display: none;
}

.ui-message-info, .ui-message-error, .ui-message-warn, .ui-message-fatal {
    border: 0px;
    margin-left: 0px;
    margin-top: 10px;
    padding: 8px 35px 8px 14px;
    border-radius: 0;
    font-size: 13px;
}

.ui-messages-info-detail, 
.ui-messages-warn-detail, 
.ui-messages-error-detail, 
.ui-messages-fatal-detail, 
.ui-message-info-detail, 
.ui-message-warn-detail, 
.ui-message-error-detail, 
.ui-message-fatal-detail {
    margin-left: 0px;
}



#dataNascita_input {
    width:270px !important;
}

#dataCompilazioneOneColumn_input {
    width:270px !important;
}

#dataCompilazioneMMSE_input {
    width:inherit; !important;
}

#loginForm\:loginButton   {
    float: right !important;
}

.ui-panel{
    padding: 0; 
}

.ui-panel .ui-panel-content {
    padding: 0; 
}

.panelChangePasswordcss.ui-widget-content {
    border: 0;
}


// OCCORRE PER APPLICARE LO STILE ALLA LISTA 
// EVENTI PAZIENTI

.ui-datatable .ui-datatable-data td, .ui-datatable .ui-datatable-data-empty td {
    border-style: none;
}
.noheader.ui-datatable table thead {
    display: none;
}

.ui-spinner-input {
	padding-right: 10px !important;
	width: 80%;
}

.ui-spinner-button {
	 height: 50%;
}

