#left .subnav .subnav-content {
    padding: 0px 20px;
}

#navigation .toggle-nav {
    height: 20px;
}

#navigation .user .icon-nav > li > a {
    height: 20px;
}

.minitilesDetails {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.minitilesDetails > li {
    float: left;
    width: 150px; 
    margin-right: 15px;
    padding: 0px 0px;
}

.minitilesDetails > li > a {
    color: #FFFFFF;
    display: block;
    height: 61px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 152px;
}

.minitilesDetails > li > a:hover:before{
    background: none repeat scroll 0 0 transparent;
    border:  3px solid rgba(0,0,0,0.5);
    content: "";
    height: 55px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top:0;
    z-index: 99;
    width: 145px;
   }

.minitilesDetails > li i {
    color: #FFFFFF;
    float: left;
    font-size: 36px;
    margin-left: 15px;
    margin-top: 12px;
}   

.minitilesDetails > li .details:after {
    clear: both;
    content: "";
    display: table;
}
.minitilesDetails > li .details {
    margin-left: 55px;
    padding-top: 11px;
}

.minitilesDetails > li .details span.big {
    font-size: 16px;
}
.minitilesDetails > li .details span {
    color: #FFFFFF;
    display: block;
    font-size: 12px;
}

/* Tiles per anagrafica paziente */

.minitilesDetailsAna {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.minitilesDetailsAna > li {
    float: left;
    width: 350px; 
    margin-right: 15px;
    padding: 0px 0px;
}

.minitilesDetailsAna > li > a {
    color: #FFFFFF;
    display: block;
    height: 61px;
    position: relative;
    text-align: left;
    text-decoration: none;
    width: 352px;
}

.minitilesDetailsAna > li > a:hover:before{
    background: none repeat scroll 0 0 transparent;
    border:  3px solid rgba(0,0,0,0.5);
    content: "";
    height: 55px;
    left: 0;
    pointer-events: none;
    position: absolute;
    top:0;
    z-index: 99;
    width: 345px;
   }

.minitilesDetailsAna > li i {
    color: #FFFFFF;
    float: left;
    font-size: 36px;
    margin-left: 15px;
    margin-top: 12px;
}   

.minitilesDetailsAna > li .details:after {
    clear: both;
    content: "";
    display: table;
}
.minitilesDetailsAna > li .details {
    margin-left: 55px;
    padding-top: 11px;
}

.minitilesDetailsAna > li .details span.big {
    font-size: 16px;
}
.minitilesDetailsAna > li .details span {
    color: #FFFFFF;
    display: block;
    font-size: 12px;
}

/* FINE TILES PER ANAGRAFICA PAZIENTE */


.address
	{
	margin-top:20px;
	width:600px;
	}

.media, .media-body {
    display: inline-block;
}

.buttons input  {
     border: 3px solid #aaa;
   line-height: 20px;
   background-color: #0088cc;
}

.box .box-title{
    margin-top: 20px;
}

#messaggiScheda {
    margin: 20px 0 0 0;
}

.search-pane .btn {
    margin-top: 2px;
    padding-right: 8px;
     line-height: 14px;
}

.control-group.threeColumnTest .control-label {
	width: 70% !important;
}

.form-horizontal .controls.mmseDataCompilazione {
	margin-left: 200px !important;
}

.form-horizontal .controls.threeColumnTest {
	margin-left: 270px !important;
}

/* .control-group .control-label {
	width: 30% !important;
}
 */