<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:o="http://omnifaces.org/ui" xmlns:p="http://primefaces.org/ui"
	template="/templates/patientDashboardTemplate.xhtml">

	<ui:define name="metadata">
		<f:metadata>
			<f:viewParam name="id" value='#{anagraficaPazienteBean.id}' />
			<f:event type="preRenderView"
				listener='#{anagraficaPazienteBean.retrieve}' />
			<f:event type="preRenderView"
				listener='#{provinciaregioneBean.preloadComuneByProvincia(anagraficaPazienteBean.anagraficapaziente.comune.provinciaregione.codiceProvincia)}' />

		</f:metadata>
	</ui:define>

	<!-- 	<ui:define name="page-header" /> -->

	<ui:define name="dash">
		<div class="box-title">
			<h3>
				<i class="icon-list"></i>#{securityBean.isUser eq true? 'Modifica
				anagrafica':'Visualizzazione anagrafica'}
			</h3>
		</div>
		<div class="box-content nopadding">
			<h:form id="AnapazienteEditForm" prependId="false"
				onkeypress="return event.keyCode !== 13;"
				class='form-horizontal  form-bordered'>
				<f:event listener="#{anagraficaPazienteBean.validateCodiceFiscale}"
					type="postValidate" />

				<div class="control-group">
					<h:outputLabel class="control-label" value="Cognome *:"
						for="cognome" />
					<div class="controls">
						<h:inputText id="cognome" class="input-xlarge"
							converter="toUpperCaseConverter" maxlength="45"
							autocomplete="off"
							value="#{anagraficaPazienteBean.anagraficapaziente.cognome}">
						</h:inputText>
						<h:message id="msgCognome" for="cognome"
							errorClass="help-block alert alert-error" />
					</div>

				</div>
				<div class="control-group">
					<h:outputLabel class="control-label" value="Nome *:" for="nome" />
					<div class="controls">
						<h:inputText id="nome" class="input-xlarge" maxlength="45"
							converter="toUpperCaseConverter" autocomplete="off"
							value="#{anagraficaPazienteBean.anagraficapaziente.nome}">
						</h:inputText>
						<h:message id="msgNome" for="nome"
							errorClass="help-block alert alert-error" />
					</div>
				</div>

				<div class="control-group">
					<h:outputLabel class="control-label" value="Sesso *:" for="sessoID" />
					<div class="controls">
						<h:selectOneMenu id="sessoID" class="input-xlarge"
							converter="omnifaces.SelectItemsConverter"
							value="#{anagraficaPazienteBean.anagraficapaziente.sesso}">
							<f:selectItems itemLabel="#{_item.descrizione}"
								itemValue="#{_item}" value="#{sessoBean.all}" var="_item" />
						</h:selectOneMenu>
						<h:message id="msgSessoID" for="sessoID"
							errorClass="help-block alert alert-error" />
					</div>
				</div>

				<div class="control-group">
					<h:outputLabel class="control-label" value="Data di nascita *:"
						for="dataNascita" />
					<div class="controls">
						<p:calendar id="dataNascita" styleClass="input-xlarge"
							autocomplete="off"
							value="#{anagraficaPazienteBean.anagraficapaziente.dataNascita}"
							pattern="dd/MM/yyyy"
							title="#{bundle.CreateAnagraficapazienteTitle_dataNascita}" />
						<p:message id="msgdataNascita" for="dataNascita" />
					</div>
				</div>

				<div class="control-group">
					<h:outputLabel class="control-label"
						value="Provincia di nascita *:" for="provinciaNascita" />
					<div class="controls">
						<h:selectOneMenu id="provinciaNascita" class="input-xlarge"
							value="#{provinciaregioneBean.provinciaregione}"
							converter="omnifaces.SelectItemsConverter"
							disabled="#{securityBean.isUser eq false}">
							<f:selectItem itemLabel="-- Seleziona una provincia --"
								noSelectionOption="true" />
							<f:selectItems value="#{provinciaregioneBean.all}"
								var="provincia" itemLabel="#{provincia.denominazioneProvincia}"
								itemValue="#{provincia}" />
							<f:ajax render="comuneNascitaID"
								listener="#{provinciaregioneBean.getComuniByProvincia()}" />
						</h:selectOneMenu>
						<h:message id="msgProvinciaNascita" for="provinciaNascita"
							errorClass="help-block alert alert-error" />
					</div>
				</div>
				<div class="control-group">
					<h:outputLabel class="control-label" value="Comune di nascita *:"
						for="comuneNascitaID" />
					<div class="controls">
						<h:selectOneMenu id="comuneNascitaID" class="input-xlarge"
							disabled="false" converter="omnifaces.SelectItemsConverter"
							value="#{anagraficaPazienteBean.anagraficapaziente.comune}">
							<f:selectItem itemLabel="-- Seleziona un comune --"
								noSelectionOption="true" />
							<f:selectItems value="#{provinciaregioneBean.comuni}"
								var="comune" itemLabel="#{comune.denominazione}"
								itemValue="#{comune}" />
						</h:selectOneMenu>
						<h:message id="msgComuneNascitaID" for="comuneNascitaID"
							errorClass="help-block alert alert-error" />
					</div>
				</div>

				<div class="control-group">
					<h:outputLabel class="control-label"
						value="Data di compilazione *:" for="dataCompilazioneOneColumn" />
					<div class="controls">
						<p:calendar id="dataCompilazioneOneColumn"
							styleClass="input-xlarge"
							disabled="#{securityBean.isUserAdmin eq false}"
							autocomplete="off"
							value="#{anagraficaPazienteBean.anagraficapaziente.dataCompilazione}"
							pattern="dd/MM/yyyy" title="Data di compilazione" />
						<p:message id="msgdataCompilazione"
							for="dataCompilazioneOneColumn" />
					</div>
				</div>

				<div class="control-group">
					<h:outputLabel class="control-label" value="Scolarità (0-20) *:"
						for="scolarita" />
					<div class="controls">
						<h:inputText id="scolarita" class="input-xlarge" maxlength="02"
							disabled="#{securityBean.isUserAdmin eq false}"
							autocomplete="off"
							value="#{anagraficaPazienteBean.anagraficapaziente.scolarita}">
						</h:inputText>
						<h:message id="msgScolarita" for="scolarita"
							errorClass="help-block alert alert-error" />
					</div>
				</div>

				<div class="control-group">
					<h:outputLabel class="control-label" value="Codice fiscale *:"
						for="codiceFiscale" />
					<div class="controls">
						<div class="input-append">
							<p:inputText id="codiceFiscale" styleClass="input-xlarge"
								autocomplete="off" maxlength="16"
								value="#{anagraficaPazienteBean.anagraficapaziente.codiceFiscale}">
							</p:inputText>
							<p:commandLink styleClass="btn btn-default"
								process="@this,cognome,nome,sessoID,dataNascita,comuneNascitaID,dataCompilazioneOneColumn"
								update="codiceFiscale"
								actionListener="#{anagraficaPazienteBean.codiceFiscale}">
								<p:resetInput target="codiceFiscale" />
								<i class="icon-search"></i> Calcola
										</p:commandLink>
						</div>
						<h:message id="msgCodiceFiscale" for="codiceFiscale"
							errorClass="help-block alert alert-error" />
					</div>
				</div>

				<div class="form-actions">
					<h:commandLink value="#{bundle.EditAnagraficapazienteSaveLink}" 
						rendered="#{securityBean.isUser eq true}"
						action='#{anagraficaPazienteBean.update}'
						styleClass="btn btn-primary" />

					<h:link value="Annulla"
						outcome="/pages/secure/paziente/patientDashboard" styleClass="btn">
						<f:param name="cid"
							value="#{anagraficaPazienteBean.conversation.id}" />
					</h:link>
				</div>
			</h:form>
		</div>
	</ui:define>
</ui:composition>

