<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <div id="divPatientName" class="pull-left" style="display: none">
        <!--        <ul class="stats">
                    <li class='red'>
                        <i class="icon-user"></i>
                        <div class="details">
                            <span class="big">
                                <h:outputLabel id="idpaz" value="{anapazienteController.selected.idPaziente}       #{anapazienteController.selected.cognome.toUpperCase()}  #{anapazienteController.selected.nome} " /> 
                            </span>  
                            <span>
                                <h:outputLabel id="paz2" value="{anapazienteController.selected.codiceFiscale}    #{anapazienteController.selected.dataNascita}"/>
                            </span>
                        </div>
                    </li>
                </ul>-->
    </div>


    <h:form id="frmPageHeader">
        <div class="pull-right">
            <ul class="minitilesDetails">
                <!--                <li class='blue' >
                                    <p:commandLink process="@this" actionListener="{anagraficapazienteController.prepareCreate}" 
                                                   update=":AnapazienteCreateForm"
                                                   oncomplete="AnapazienteCreateDialog.show();showCalendar();">
                                        <p:resetInput target=":AnapazienteCreateForm" ></p:resetInput> 
                                        <i class="icon-plus"></i> 
                                        <div class="details"> 
                                            <span class="big">
                                                Nuovo</span>
                                            <span>Paziente</span>
                                        </div>
                                    </p:commandLink>
                                </li>-->

                <li class='blue' >
                    <!--<p:commandLink process="@this" actionListener="{anagraficapazienteController.prepareCreate2}"--> 
                    <!--      <p:commandLink  action="/pages/section/dashboard/Create"    >-->
                    <p:commandLink  action="#{jsfSpringSecUserController.prepareCreate()}" ajax="false"  >
                        <!--                        <p:resetInput target=":AnapazienteCreateForm" ></p:resetInput> -->
                        <i class="icon-plus"></i> 
                        <div class="details"> 
                            <span class="big">
                                Nuovo</span>
                            <span>Paziente 1</span>
                        </div>
                    </p:commandLink>
                </li>


                <li class='green'>
                    <a href="#"><i class="icon-list"></i> 
                        <div class="details"> 
                            <span class="big">
                                120</span>
                            <span>Lista Pazienti</span>
                        </div>
                    </a>
                </li>

            </ul>

            <ul class="stats">
                <li class='orange'>
                    <i class="icon-calendar"></i>
                    <div class="details">

                        <span class="big">
                            <h:outputText value="#{receiptBean.date}" >
                                <f:convertDateTime pattern="MMMM d, yyyy" />
                            </h:outputText>
                        </span>  
                        <span>
                            <h:outputText value="#{receiptBean.date}" >
                                <f:convertDateTime pattern="EEEE, HH:hh" />
                            </h:outputText>
                        </span>
                    </div>
                </li>
            </ul>
        </div> 
    </h:form>
</ui:composition>
