<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

	<h:form>
		<div class="user">
			<ul class="icon-nav">
				<li class='dropdown'><a href="#" class='dropdown-toggle'
					data-toggle="dropdown"><i class="icon-envelope"></i><span
						class="label label-lightred">4</span></a>
					<ul class="dropdown-menu pull-right message-ul">
						<li><a href="#"> <img
								src="#{request.contextPath}/resources/themeFlat/img/demo/user-1.jpg"
								alt="" />
								<div class="details">
									<div class="name">Jane Doe</div>
									<div class="message">Lorem ipsum Commodo quis nisi ...</div>
								</div>
						</a></li>
						<li><a href="#"> <img
								src="#{request.contextPath}/resources/themeFlat/img/demo/user-2.jpg"
								alt="" />
								<div class="details">
									<div class="name">John Doedoe</div>
									<div class="message">Ut ad laboris est anim ut ...</div>
								</div>
								<div class="count">
									<i class="icon-comment"></i> <span>3</span>
								</div>
						</a></li>
						<li><a href="#"> <img
								src="#{request.contextPath}/resources/themeFlat/img/demo/user-3.jpg"
								alt="" />
								<div class="details">
									<div class="name">Bob Doe</div>
									<div class="message">Excepteur Duis magna dolor!</div>
								</div>
						</a></li>
						<li><a href="components-messages.html" class='more-messages'>Go
								to Message center <i class="icon-arrow-right"></i>
						</a></li>
					</ul></li>
				<li class="dropdown sett"><a href="#" class='dropdown-toggle'
					data-toggle="dropdown"><i class="icon-cog"></i></a>
					<ul class="dropdown-menu pull-right theme-settings">
						<li><span>Layout-width</span>
							<div class="version-toggle">
								<a href="#" class='set-fixed'>Fixed</a> <a href="#"
									class="active set-fluid">Fluid</a>
							</div></li>
						<li><span>Topbar</span>
							<div class="topbar-toggle">
								<a href="#" class='set-topbar-fixed'>Fixed</a> <a href="#"
									class="active set-topbar-default">Default</a>
							</div></li>
						<li><span>Sidebar</span>
							<div class="sidebar-toggle">
								<a href="#" class='set-sidebar-fixed'>Fixed</a> <a href="#"
									class="active set-sidebar-default">Default</a>
							</div></li>
					</ul></li>
				<li class='dropdown colo'><a href="#" class='dropdown-toggle'
					data-toggle="dropdown"><i class="icon-tint"></i></a>
					<ul class="dropdown-menu pull-right theme-colors">
						<li class="subtitle">Predefined colors</li>
						<li><span class='red'></span> <span class='orange'></span> <span
							class='green'></span> <span class="brown"></span> <span
							class="blue"></span> <span class='lime'></span> <span
							class="teal"></span> <span class="purple"></span> <span
							class="pink"></span> <span class="magenta"></span> <span
							class="grey"></span> <span class="darkblue"></span> <span
							class="lightred"></span> <span class="lightgrey"></span> <span
							class="satblue"></span> <span class="satgreen"></span></li>
					</ul></li>
				<li class='dropdown language-select'><a href="#"
					class='dropdown-toggle' data-toggle="dropdown"><img
						src="#{request.contextPath}/resources/themeFlat/img/demo/flags/it.gif"
						alt="" /><span>IT</span></a>
					<ul class="dropdown-menu pull-right">
						<li><a href="#"><img
								src="#{request.contextPath}/resources/themeFlat/img/demo/flags/br.gif"
								alt="" /><span>Brasile</span></a></li>
						<li><a href="#"><img
								src="#{request.contextPath}/resources/themeFlat/img/demo/flags/de.gif"
								alt="" /><span>Germania</span></a></li>
						<li><a href="#"><img
								src="#{request.contextPath}/resources/themeFlat/img/demo/flags/es.gif"
								alt="" /><span>Spagna</span></a></li>
						<li><a href="#"><img
								src="#{request.contextPath}/resources/themeFlat/img/demo/flags/fr.gif"
								alt="" /><span>Francia</span></a></li>
					</ul></li>
			</ul>

			<div class="dropdown">
				<a href="#" class='dropdown-toggle' data-toggle="dropdown">#{loginBean.nomeCognome}
					<img
					src="#{request.contextPath}/resources/themeFlat/img/demo/Kdm user male 27x27.png"
					alt="" />
				</a>
				<ul class="dropdown-menu pull-right">
					<li>
					<h:link outcome="/pages/secure/dashboard/user/userProfile"  
								value="View profilo Account">
							<f:param name="username"
								value="#{loginBean.userName}" />
<!-- 							<f:param name="cid" -->
<!-- 								value="{anagraficaPazienteBean.conversation.id}" /> -->
							</h:link >
					</li>
					<li><p:commandLink value="Blocca account adesso"
							action="/pages/secure/dashboard/user/locked_account?faces-redirect=true">
						</p:commandLink></li>
					<li><p:commandLink action="#{loginBean.logout()}"
							value="Sign out" /></li>
				</ul>
			</div>
		</div>
	</h:form>

</ui:composition>
