<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions"
	xmlns:ui="http://java.sun.com/jsf/facelets">

	<h:panelGroup
		rendered="#{paginatorBean.count gt paginatorBean.pageSize}">
			<ul class="pager">
			<li>
				<h:outputText
						value="Visualizzazione da #{paginatorBean.page * paginatorBean.pageSize + 1} 
				a #{paginatorBean.page * paginatorBean.pageSize + fn:length(paginatorBean.pageItems)} 
				di #{paginatorBean.count} PAZIENTI" />
				</li>
				<li >
					<!-- Use commandLink, not outputLink, so that search criteria is not lost -->
					<h:commandLink styleClass="btn btn-primary"
						rendered="#{paginatorBean.page gt 0}">
						
						<f:param name="page" value="#{paginatorBean.page - 1}" />
						Precedente 
					</h:commandLink>
				</li>
				<li><h:commandLink styleClass="btn btn-primary"
						rendered="#{(paginatorBean.page + 1) * paginatorBean.pageSize lt paginatorBean.count}">
						<f:param name="page" value="#{paginatorBean.page + 1}" />
						Successivo
					</h:commandLink></li>
			</ul>	
	</h:panelGroup>

</ui:composition>
