<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/templates/masterLayoutTemplate.xhtml">


	<ui:define name="header">
		<ui:include src="/pages/secure/paziente/headerPaziente.xhtml" />
	</ui:define>

	<ui:define name="page-header">
		<ui:include src="/pages/secure/paziente/pageHeader.xhtml" />
	</ui:define>

	<!--    <ui:define name="breadcrumbs">
            <ui:include src="/pages/secure/paziente/breadcrumbs.xhtml"/>    
        </ui:define> -->

	<ui:define name="left">
		<ui:include src="/pages/secure/paziente/menuLeft.xhtml" />
	</ui:define>

	<ui:define name="contenuti">
		<!--<f:event type="preRenderView"  listener="{anagraficapazienteController.initConversation()}"/>-->
		<!--         <f:event type="preRenderView"  listener="{anagraficaPazienteController.refreshAnagrafica()}"/> -->
		<!--         <f:event type="preRenderView" listener="{testHandler.initCommon()}" /> -->

		<div class="span12">
			<div class="box">
				<div class="box box-bordered box-color blue">
					<ui:insert name="dash" />
				</div>
			</div>
		</div>
	</ui:define>
</ui:composition>
